{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <a href="{% url 'providers' %}" class="btn btn-secondary mb-3">Retour</a>
    <a href="{% url 'provider-update' provider.id %}" class="btn btn-warning mb-3">Modifier</a>
    <a href="{% url 'provider-delete' provider.id %}" class="btn btn-danger mb-3">Supprimer</a>
    <h2 class="display-5">{{ provider.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Address :</strong> {{ provider.address }}</li>
        <li class="list-group-item"><strong>Phone :</strong> {{ provider.phone }}</li>
        <li class="list-group-item"><strong>Email :</strong> {{ provider.email }}</li>
    </ul>
</div>
{% endblock %}