{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block title %} {{ title }} {% endblock %} 
{% block content %}
<div class="container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1>{{ title }}</h1>
    <a href="{% url 'stock-add' %}" class="btn btn-success">Ajouter du stock</a>
  </div>
  <form method="GET" action="" class="d-flex justify-content-between align-items-center my-3 gap-2">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
    value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success">Rechercher</button>
  </form>
  {% if results > 1 %}
  <p class="text-end"><strong>{{ results }}</strong> résultats</p>
  {% else %}
  <p class="text-end"><strong>{{ results }}</strong> résultat</p>
  {% endif %}
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Fournisseur</th>
        <th scope="col">Marge</th>
        <th scope="col">Quantité</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr
        onclick="window.location.href=`{% url 'stock' stock.id %}`"
        style="cursor: pointer"
      >
        <td>{{ stock.product }}</td>
        <td>{{ stock.provider }}</td>
        <td>{{ stock.rate }}</td>
        <td>{{ stock.quantity }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
