{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block title %} {{ title }} {% endblock %} 
{% block content %}
<div class="container">
  <a href="{% url 'products' %}" class="btn btn-secondary mb-3">Retour</a>
  <a href="{% url 'product-update' product.id %}" class="btn btn-warning mb-3"
    >Modifier</a
  >
  <a href="{% url 'product-delete' product.id %}" class="btn btn-danger mb-3"
    >Supprimer</a
  >
  <h2 class="display-5">{{ product.name }}</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Prix HT :</strong> {{ product.price_ht }}
    </li>
    <li class="list-group-item"><strong>Prix TTC :</strong> {{ price_ttc }}</li>
    <li class="list-group-item"><strong>Stock :</strong> {{ quantity }}</li>
    <li class="list-group-item">
      <strong>Date de création :</strong> {{ product.date_creation }}
    </li>
  </ul>
</div>
{% endblock %}
