{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block title %} {{ title }} {% endblock %} 
{% block content %}
<div class="container">
  <a href="{% url 'products' %}" class="btn btn-secondary mb-3">Retour</a>
  <a href="{% url 'product-update' product.id %}" class="btn btn-warning mb-3"
    >Modifier</a
  >
  <a href="{% url 'product-delete' product.id %}" class="btn btn-danger mb-3"
    >Supprimer</a
  >
  <div class="d-flex align-items-center gap">
    <h2 class="display-5">{{ product.name }}</h2>
    <span class="mx-4">{{ status }}</span>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Prix HT :</strong> {{ product.price_ht }}
    </li>
    <li class="list-group-item">
      <strong>Date de création :</strong> {{ product.date_creation }}
    </li>
  </ul>
  <h3 class="my-4">Produits associés</h3>
  {% if items %}
  <div class="row">
    {% for item in items %}
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ item.provider.name }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Quantité :</strong> {{ item.quantity }} unités
            </li>
            <li class="list-group-item">
              <strong>Marge :</strong> {{ item.rate }} %
            </li>
            <li class="list-group-item">
              <strong>Prix TTC :</strong> {{ item.price_ttc }} €
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-muted">Il n'y a pas encore de stock de ce produit.</p>
  {% endif %}
</div>
{% endblock %}
